.row
  .col-md-8
    = semantic_form_for(@conference, :url => admin_conference_supporter_level_path(@conference.short_title, @conference.supporter_levels)) do |f|
      = f.input :use_supporter_levels, :label => false
      = dynamic_association :supporter_levels, "Supporter Levels", f
      = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
