= render :partial => "events_stats"

.row
  .col-md-12
    %h2
      Events
      - if @events
        = "(#{@events.length})"
    .well
      %table.table.table-striped.table-bordered.table-hover#events
        %thead
          %th
            %b ID
          %th
            %b Title
          - unless @conference.call_for_papers.blank? or !(@conference.call_for_papers.rating > 0)
            %th
              %b Rating
          %th
            %b Submitter
          %th
            %b Speaker
          %th
            %b Type
          %th
            %b Track
          %th
            %b Difficulty
          %th
            %b State
        - @events.each do |event|
          %tr
            %td
              = event.id
            %td
              =link_to event.title, admin_conference_event_path(@conference.short_title, event)
            
            - if @conference.call_for_papers.rating != 0
              %td{:style => "width:96px"}
                - if event.average_rating.to_f > 0 
                  #{event.average_rating}/#{@conference.call_for_papers.rating}
                  %br
                  #{pluralize(event.voters.length, 'voter')}
                  %br
                  - @conference.call_for_papers.rating.times do |counter|
                    - if event.average_rating.to_f.round == counter+1
                      = label_tag "label_rating", "", :class => "avgrating", :avgrate => true
                      = javascript_tag "$('label[avgrate=true]').prevAll().andSelf().addClass('bright');"
                    - else
                      = label_tag "label_rating", "", :class => "avgrating"
                - else
                  0/#{@conference.call_for_papers.rating}
                %br

            - if event.submitter.registrations.count < 1 
              - bgcolor="#F7819F"
            - else 
              - bgcolor=""
            %td{:style=>"background-color: #{bgcolor}"}
              - if !event.submitter.nil?
                =link_to event.submitter.public_name, admin_person_path(event.submitter)
                - if event.submitter.registrations.count < 1
                  (Unregistered!)
              - else
                Unknown submitter
            %td
              - if speaker = event.speakers.first
                = link_to speaker.public_name, admin_person_path(speaker)
              - else
                Unknown speaker
              - l = link_to "Change", edit_admin_conference_event_speaker_path(@conference.short_title, event), :remote => true
              = "(#{l})".html_safe
            %td
              .btn-group
                %button{:type=>"button", :class=>"btn btn-link dropdown-toggle", "data-toggle"=>"dropdown"}
                  - if event.event_type.nil?
                    Event Type
                  - else
                    = event.event_type.title
                  %span.caret
                %ul.dropdown-menu
                  - @event_types.each do |type|
                    %li= link_to type.title, admin_conference_event_path(@conference.short_title, event, :event_type_id => type.id) ,
                      :method => :put, :event_type_id => type.id
            %td
              .btn-group
                %button{:type=>"button", :class=>"btn btn-link dropdown-toggle", "data-toggle"=>"dropdown"}
                  - if event.track.nil?
                    Track
                  - else
                    = event.track.name
                  %span.caret
                %ul.dropdown-menu
                  - @tracks.each do |track|
                    %li= link_to track.name, admin_conference_event_path(@conference.short_title, event, :track_id => track.id) ,
                      :method => :put, :track_id => track.id
            %td
              = event.difficulty_level.title if @conference.use_difficulty_levels && event.difficulty_level
            %td
              - if event.state == "withdrawn"
                Withdrawn
              - else
                .btn-group
                  %button{:type=>"button", :class=>"btn btn-link dropdown-toggle", "data-toggle"=>"dropdown"}
                    = event.state.humanize
                    %span.caret
                  %ul.dropdown-menu{:role=>"menu"}
                    - if event.transition_possible? :accept
                      %li= link_to 'Accept event',
                      accept_admin_conference_event_path(@conference.short_title, event),
                      method: :patch, id: "accept_event_#{event.id}"
                      - if @conference.email_settings.send_on_accepted?
                        %li= link_to 'Accept event (without email)',
                        accept_admin_conference_event_path(@conference.short_title, event, send_mail: false),
                            method: :patch, hint: 'Accept this event without sending an automated email.',
                            id: "accept_event_without_mail_#{event.id}"
                    - if event.transition_possible? :reject
                      %li= link_to 'Reject event',
                      reject_admin_conference_event_path(@conference.short_title, event),
                          method: :patch, confirm: 'Are you sure?', id: "reject_event_#{event.id}"
                      - if @conference.email_settings.send_on_rejected?
                        %li= link_to 'Reject event (without email)',
                        reject_admin_conference_event_path(@conference.short_title, event, send_mail: false),
                            method: :patch, confirm: 'Are you sure?', id: "reject_event_without_mail_#{event.id}"
                    - if event.transition_possible? :restart
                      %li= link_to 'Start review',
                      restart_admin_conference_event_path(@conference.short_title, event),
                          method: :patch, id: "restart_event_#{event.id}"
                    - if event.transition_possible? :confirm
                      %li= link_to 'Confirm event',
                      confirm_admin_conference_event_path(@conference.short_title, event),
                          method: :patch, id: "confirm_event_#{event.id}",
                          hint: 'Confirm that the speaker(s) will be present and that the event will actually take place.'
                    - if event.transition_possible? :cancel
                      %li= link_to 'Cancel event',
                      cancel_admin_conference_event_path(@conference.short_title, event),
                          method: :patch, id: "cancel_event_#{event.id}",
                          hint: 'Mark this event as cancelled. Usually this means that the speakers had to cancel their appearance.'

:javascript
  $(document).ready(function() {
      $('#events').dataTable( {
        "bPaginate": false
      } );
  } );
