.row
  .col-md-8
    = semantic_form_for(@cfp, :url => admin_conference_callforpapers_path(@conference.short_title),:html => {:multipart => true}) do |f|
      = f.input :start_date, :as => :string, :input_html => { :id => "conference-start-datepicker", :readonly => "readonly"  }
      = f.input :end_date, :as => :string, :input_html => { :id => "conference-end-datepicker", :readonly => "readonly"  }
      = f.input :description, :hint => "Welcome text for the Call for Papers"
      = f.input :schedule_changes
      = f.input :schedule_public
      = f.input :rating, :hint => "Enter the number of different rating levels you want to have for voting on proposals. Enter 0 if you do not want to vote on proposals."
      = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
