.row
  .col-md-12
    .well
      .row
        .col-md-4.text-center
          = image_tag(conference.logo(:original), class: 'img-responsive') if conference.logo?
        .col-md-6
          %h3
            = conference.title
            %small
              %b
              = conference_date_string(conference)
          - if conference.venue.name and conference.venue.website and conference.venue.address
            %p
              %small
                = link_to conference.venue.name, conference.venue.website
                ,
                \#{link_to conference.venue.address, "http://maps.google.com/maps?q=#{conference.venue.address}"}
          - if conference.venue.description
            = simple_format(conference.venue.description, class: 'lead')
        .col-md-2
          .btn-group-vertical
            - if !@conference || @conference != conference
              = link_to "View Conference", conference_path(conference.short_title), :class =>"btn btn-default"
            - if conference.registration_open?
              - if conference.user_registered?(current_user)
                = link_to "Modify Registration", register_conference_path(conference.short_title), :class =>"btn btn-default"
              - else
                = link_to "Register", register_conference_path(conference.short_title), :class =>"btn btn-success"
            = link_to "Schedule", conference_schedule_path(conference.short_title), :class =>"btn btn-default" if conference.call_for_papers and conference.call_for_papers.schedule_public
            - if !current_user.nil? && current_user.person.proposal_count(conference) > 0
              = link_to "View My Proposals", conference_proposal_index_path(conference.short_title), :class =>"btn btn-default"
            - elsif conference.cfp_open?
              = link_to "Submit Proposal", conference_proposal_index_path(conference.short_title), :class =>"btn btn-default"