= content_for :splash_nav do
  %li
    %a{ href: '#registration' } Registration
%div.container.text-center
  %div.row
    %h2 Registration
  - if !@conference.registration_description.blank?
    %p
      = @conference.registration_description
  - if @conference.registration_dates_given?
    -if @conference.registration_end_date >= Date.today
      %h4 Registration period #{ date_string(@conference.registration_start_date, @conference.registration_end_date) }
    -else
      %h4 Registration is Closed, it was from #{ date_string(@conference.registration_start_date, @conference.registration_end_date) }
  - if @conference.registration_open?
    = link_to "Register for #{@conference.short_title}", register_conference_path(@conference.short_title), :class =>"btn btn-success btn-lg", target: '_blank'
  - if @conference.use_supporter_levels?
    = render 'tickets'
