.row
  .col-md-8
    = semantic_form_for(@venue, :url => admin_conference_venue_update_path(@conference.short_title),:html => {:multipart => true}) do |f|
      = f.input :name, :input_html => {:rows => 1}
      = f.input :address, :input_html => {:rows => 1}
      = f.input :website
      = f.input :description, :input_html => { :rows => 10, :cols => 20 }
      = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
