html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* Margin bottom by navbar height */
    padding-top: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding: 15px;
}

.nav > li.nav-header > a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.glyphicon {
    margin-right: 10px;
}

.mySidebar hr {
    margin: 1px;
}

@media only screen and (max-width: 768px) {
    .mySidebar ul.subNav {
        display: block;
    }
}

.conferenceCheckboxes div {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.dashbox {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashbox .icon {
    padding-left: 8px;
    display: block;
    font-size: 3.8em;
}

.dashbox label {
    display: block;
    font-size: 1.1em;
}

.todolist-missing span {
    color: #ff0000;
}

.todolist-ok {
    text-decoration: line-through;
}

.todolist-ok span {
    color: #02A10F;
}

.top-submitter img {
    margin: 0 auto;
}
