%ul.nav.nav-pills.nav-stacked.mySidebar
  .btn-group
    %button{type: 'button', class: 'btn btn-default btn-link dropdown-toggle', 'data-toggle'=>'dropdown'}
      %span.glyphicon.glyphicon-home
      All Conferences
      %span.caret
    %ul.dropdown-menu{role: 'menu'}
      %li
        = link_to(admin_conference_index_path) do
          %span.glyphicon.glyphicon-home
          All Conferences
      - @conferences.each do |conference|
        %li
          = link_to(admin_conference_path(conference.short_title)) do
            %span.glyphicon.glyphicon-cog
            Manage
            = conference.short_title
      %li
        = link_to(new_admin_conference_path) do
          %span.glyphicon.glyphicon-plus
          New Conference
  %hr
  %li
    = link_to(admin_users_path) do
      %span.glyphicon.glyphicon-user
      Users
  %li
    = link_to(admin_people_path) do
      %span.glyphicon.glyphicon-star-empty
      People
